
@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Allerta', sans-serif;
}

form {
  margin: auto;
  max-width: 75%;
}

form img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2%;
  margin-top: 15px;
}
form div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  color: #231f20;
}


form input[type="text"], form input[type="tel"], form select {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  width: 70%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form div, form, form button {
  text-align: center;
}

form button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
}

#submit {
  background-color: #ef3e35;
}

#cancel {
  background-color: #cccccc;
}

.inline {
  display: inline;
}

.bg {
  background-color: #231f20;
  color: #ef3e35;
}

nav div {
  padding: 1%;
}

nav {
  margin-bottom: 2%;
}

nav .right {
  position: absolute;
  right: 1%;
  left: auto;
}

.white {
  color: white;
}
